<nav class="navbar navbar-custom navbar-static-top">
	   <img src="images/disney.jpeg" height="51" width="51" class="left"></img>
	   <p class="navbar-text navbar-right username">Signed in as {{userIS}}</p>
	   <ul class="nav navbar-nav">
		<li><a href="#" class="navbar-link">Feeds</a></li>
		<li class="active"><a href="#/accounts" class="navbar-link">Accounts</a></li>
	   </ul>
</nav>
<div class="bd">
	<div class="row">
		<div class="col-md-12 pg-hd">
		  Accounts
		</div><!--/col-md-12 pg-hd-->
	</div><!--/row-->
	<div class="row">
		<div class="col-md-12 search-bar">
				SAP ID:
				<input class="sap-input" ng-model="sapID" type="text" placeholder="SAP ID">
				<button class="btn btn-refresh" ng-click="getID()">Search</button>
		</div><!--/col-md-12 search-bar-->
	</div><!--/row-->
	<div class="row" ng-show="show">
		<div class="col-md-5">
			<div class="row">
				<h2 class="id-hd">Relationship</h2>
			</div>
			<div class="row">
				<label>Name:</label>
				{{relationship.Name}}
			</div>
			<div class="row">
				<label>Known As:</label>
				{{relationship.KnownAs}}
			</div>
			<div class="row">
				<label>Pernr:</label>
				{{relationship.Pernr}}
			</div>
			<div class="row">
				<label>Status:</label>
				{{relationship.Status}}
			</div>
			<div class="row">
				<label>ID:</label>
				{{relationship.ID}}
			</div>
			<div class="row">
				<label>Email:</label>
				{{relationship.Email}}
			</div>
		</div><!--/col-md-5-->
		<div class="col-md-7">
			<div class="row">
				<h2 class="id-hd">Linked Accounts</h2>
			</div>
			<div class="row">
				<form name="accountForm">
				<table class="table table-striped table-bordered table-enrollment table-hover">
				  <thead>
				    <th>UID <button class="glyphicon glyphicon-sort table-btn" ng-click="sort('UID')"></button></th>
					<th>Directory <button class="glyphicon glyphicon-sort table-btn" ng-click="sort('directory')"></button></th>
					<th>Status <button class="glyphicon glyphicon-sort table-btn" ng-click="sort('verifiedFlag')"></button></th>
					<th>Primary</th>
				  </thead>
				  <tbody>
					<tr ng-repeat="account in accountList | filter:search | orderBy:sortOrder">
				      <td>{{account.UID}}</td>
					  <td>{{account.directory}}</td>
					  <td>{{account.verifiedFlag}}</td>
					  <td><input name="accounts" type="radio" ng-model="Primary" value="account._GUID"></td>
					</tr>
					<!--<tr>
				      <td>best</td>
					  <td>best</td>
					  <td>best</td>
					  <td><input name="accounts" type="radio" ng-model="Primary" value="Primary"></td>
					</tr>
					<tr>
				      <td>test1</td>
					  <td>test1</td>
					  <td>test1</td>
					  <td><input name="accounts" type="radio" ng-model="Primary" value="Primary1" checked></td>
					</tr>-->
				  </tbody>
				</table>
				</form>
			</div><!--/row-->
			<div class="row">
				<button class="btn btn-primary" ng-click="save()">Save Changes</button>
			</div><!--/row-->
		</div><!--/col-md-7-->
	</div><!--/row-->
</div><!--/bd-->