<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../bower_components/angular-motion/dist/angular-motion.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-custom">
	  <nav class="navbar navbar-custom navbar-static-top">
		   <img src="/images/disney.jpeg" height="51" width="51" class="left"></img>
		   <p class="navbar-text navbar-right username">Signed in as FIXTHIS</p>
		   <ul class="nav navbar-nav">
			<li class="active"><a href="#" class="navbar-link">Feeds</a></li>
			<li><a href="#/accounts" class="navbar-link">Accounts</a></li>
		   </ul>
	  </nav>
      <div class="bd">
		<div class="row">
			<div class="col-md-12 pg-hd">
			  ESB IDR Database Manager
			</div><!--/col-md-12 pg-hd-->
		</div><!--/row-->
		<div class="row">
			<div class="col-md-9 pg-sub-hd">
				Feed 1 Details
			</div>
			<div class="col-md-3">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Feed 1 Details</li>
				</ol>
			</div>
		</div><!--/row-->
		<div class="row content-row">
			<div class="col-md-9">
				<button class="btn btn-refresh" ng-click="back()"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
			</div>
		</div><!--/row-->
	</div><!--/bd-->
    </div>

</body>
</html>